# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
./Uni_Sub/Python_B/Week_2/Fake.csv
./Uni_Sub/Python_B/Week_2/True.csv
./Uni_Sub/Python_B/Week_2/SA2_2016_AUST.shp
./Python_B/Week_2/SA2_2016_AUST.shp
./Python_B/Week_2/Fake.csv
./Python_B/Week_2/True.csv
./Python_B/Week_6/new.csv
./.git/objects/52/d3e82dab24bf1964649fbb4ef5e4cea7006121
./.git/objects/9c/befe7dfe14dafd503182ce7ade5e18c1be2aa0
./ML_Tools/assignment3/f_train.csv
./Applied Machine Learning/data/Targets.zip
./Applied Machine Learning/data/Molecules.zip
./Python_B/Week_2/SA2_2016_AUST.shp
./Python_B/Week_2/Fake.csv
./Python_B/Week_2/True.csv
./Python_B/Week_6/new.csv
./.git/objects/a5/022c7916a7f6ae613f4d019745a1815b28891f
./.git/objects/52/d3e82dab24bf1964649fbb4ef5e4cea7006121
./.git/objects/9c/befe7dfe14dafd503182ce7ade5e18c1be2aa0
./.git/objects/03/63b7a9d28bd76bd751ef5ed990a6ffeae7db7f
./ML_Tools/assignment3/f_train.csv
./Applied Machine Learning/data/Targets.zip
./Applied Machine Learning/data/Molecules.zip
./Python_B/Week_2/SA2_2016_AUST.shp
./Python_B/Week_2/Fake.csv
./Python_B/Week_2/True.csv
./Python_B/Week_6/new.csv
./.git/objects/a5/022c7916a7f6ae613f4d019745a1815b28891f
./.git/objects/52/d3e82dab24bf1964649fbb4ef5e4cea7006121
./.git/objects/9c/befe7dfe14dafd503182ce7ade5e18c1be2aa0
./.git/objects/03/63b7a9d28bd76bd751ef5ed990a6ffeae7db7f
./ML_Tools/assignment3/f_train.csv
./Applied Machine Learning/data/Targets.zip
./Applied Machine Learning/data/Molecules.zip
./Python_B/Week_2/SA2_2016_AUST.shp
./Python_B/Week_2/Fake.csv
./Python_B/Week_2/True.csv
./Python_B/Week_6/new.csv
./.git/objects/a5/022c7916a7f6ae613f4d019745a1815b28891f
./.git/objects/52/d3e82dab24bf1964649fbb4ef5e4cea7006121
./.git/objects/9c/befe7dfe14dafd503182ce7ade5e18c1be2aa0
./.git/objects/03/63b7a9d28bd76bd751ef5ed990a6ffeae7db7f
./ML_Tools/assignment3/f_train.csv
./Python_B/Week_2/SA2_2016_AUST.shp
./Python_B/Week_2/Fake.csv
./Python_B/Week_2/True.csv
./Python_B/Week_6/new.csv
./.git/objects/a5/022c7916a7f6ae613f4d019745a1815b28891f
./.git/objects/52/d3e82dab24bf1964649fbb4ef5e4cea7006121
./.git/objects/9c/befe7dfe14dafd503182ce7ade5e18c1be2aa0
./.git/objects/03/63b7a9d28bd76bd751ef5ed990a6ffeae7db7f
./ML_Tools/assignment3/f_train.csv
./Python_B/Week_2/Fake.csv
./Python_B/Week_2/True.csv
./Python_B/Week_2/SA2_2016_AUST.shp
./Python_B/Week_6/new.csv
./.git/objects/pack/pack-f237c9f4d6ad5e21549126f3265c4b3531548549.pack
./.git/objects/pack/pack-2bb42277ab060728404d9de2d9ddeb21b9da1d92.pack
./Applied Machine Learning/data/Targets/all_targets.fasta
./Applied Machine Learning/2019-nCov-master/CGVAE/dsgdb9nsd.xyz.tar.bz2
./Applied Machine Learning/2019-nCov-master/Data/ns3/ns3_assays.pkl
./ML_Tools/assignment3/f_train.csv
./Python_B/Week_2/Fake.csv
./Python_B/Week_2/True.csv
./Python_B/Week_2/SA2_2016_AUST.shp
./Python_B/Week_6/new.csv
./.git/objects/pack/pack-f237c9f4d6ad5e21549126f3265c4b3531548549.pack
./.git/objects/pack/pack-2bb42277ab060728404d9de2d9ddeb21b9da1d92.pack
./Applied Machine Learning/data/Targets/all_targets.fasta
./Applied Machine Learning/2019-nCov-master/CGVAE/dsgdb9nsd.xyz.tar.bz2
./Applied Machine Learning/2019-nCov-master/Data/ns3/ns3_assays.pkl
./ML_Tools/assignment3/f_train.csv
./Python_B/Week_2/Fake.csv
./Python_B/Week_2/True.csv
./Python_B/Week_2/SA2_2016_AUST.shp
./Python_B/Week_6/new.csv
./.git/objects/pack/pack-f237c9f4d6ad5e21549126f3265c4b3531548549.pack
./.git/objects/pack/pack-2bb42277ab060728404d9de2d9ddeb21b9da1d92.pack
./Applied Machine Learning/data/Targets/all_targets.fasta
./Applied Machine Learning/2019-nCov-master/CGVAE/dsgdb9nsd.xyz.tar.bz2
./Applied Machine Learning/2019-nCov-master/Data/ns3/ns3_assays.pkl
./ML_Tools/assignment3/f_train.csv
./Python_B/Week_2/Fake.csv
./Python_B/Week_2/True.csv
./Python_B/Week_2/SA2_2016_AUST.shp
./Python_B/Week_6/new.csv
./.git/objects/pack/pack-f237c9f4d6ad5e21549126f3265c4b3531548549.pack
./.git/objects/pack/pack-2bb42277ab060728404d9de2d9ddeb21b9da1d92.pack
./Applied Machine Learning/data/Targets/all_targets.fasta
./Applied Machine Learning/2019-nCov-master/CGVAE/dsgdb9nsd.xyz.tar.bz2
./Applied Machine Learning/2019-nCov-master/Data/ns3/ns3_assays.pkl
./ML_Tools/assignment3/f_train.csv
./Python_B/Week_2/Fake.csv
./Python_B/Week_2/True.csv
./Python_B/Week_2/SA2_2016_AUST.shp
./Python_B/Week_6/new.csv
./.git/objects/52/ae1916d34b9f09bdae2a897b77ab551749b1db
./.git/objects/pack/pack-f237c9f4d6ad5e21549126f3265c4b3531548549.pack
./.git/objects/pack/pack-2bb42277ab060728404d9de2d9ddeb21b9da1d92.pack
./Applied Machine Learning/data/Targets/all_targets.fasta
./Applied Machine Learning/2019-nCov-master/CGVAE/dsgdb9nsd.xyz.tar.bz2
./Applied Machine Learning/2019-nCov-master/Data/ns3/ns3_assays.pkl
./ML_Tools/assignment3/f_train.csv
